.reading-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    box-shadow: 0 0 10px #0007;
}
.nav-title {
    font-size: 22px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.nav-item-lg {
    width: 30%;
    padding: 6px 4px;
    font-size: 18px;
    border-radius: 4px;
    margin: auto;
}
.selectors a.dropdown-toggle{
    width: 100%;
    text-align: center;
    flex: 1;
    background-color: #fff;
    color: #000;
    font-size: 20px;
}
.selectors ul.dropdown-menu {
    width: 100%;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    max-height: 200px;
    overflow-y: scroll;
}
.nav-icon {
    font-size: 30px;
    font-weight: 600;
    background: #fff;
    color: #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #0008;
    cursor: pointer;
}

/* phần container */
.container .content {
    text-align: center;
}
.content img {
    width: 70%;
}

.footer-options {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px #0007;
    margin-top: 30px;
    padding: 12px 0;
}
.footer-wrapper-btn {
    flex: 0 40%;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    background: #000;
    margin: 0 12px;
    border-radius: 6px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .navbar {
        display: flex;
    }
    /* phần title */
    .nav-title {
        max-width: 80%;
    }
    .nav-title h3{
        font-size: 14px;
    }
    /* phần icons home */
    .nav-icon {
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
    /* phần chapters */
    .selectors {
        order: 1;
        font-size: 14px;
        margin-top: 6px;
    }
    .selectors a.dropdown-toggle {
        font-size: 14px;
        padding: 2px 0;
        height: 30px;
    }
    .dropdown-item {
        font-size: 14px;
    }
    /* phần content */
    .container {
        padding: 0;
    }
    .content img {
        width: 100%;
    }
    /* footer */
    .footer-options {
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0 5px #0007;
        margin-top: 30px;
        padding: 12px 0;
    }
    .footer-wrapper-btn {
        flex: 0 40%;
        text-align: center;
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        background: #000;
        margin: 0 12px;
        border-radius: 6px;
        cursor: pointer;
    }
}

